# Logs
logs
*.log
# Mochawesome reports
mochawesome-report

# Cucumber report
cypress/reports/index.html
cypress/report/index.html.json
cypress/report/cucumber-json/**

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
cypress/videos
cypress/screenshots